.create {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

h4 {
    text-align: center;
    padding-top: 30px;
}

.createWrapper {
    width: 60%;
    height: 80%;
    padding: 20px;
    background-color: rgb(205, 246, 246);
    border-radius: 10px;
}

.inputItems {
    margin: 20px;
    display: flex;
    align-items: center;
}

.box {
    margin-right: 5px;
}

.rd {
    margin-left: 5px;
}

.inputLable {
    width: 30%;
    font-size: 16px;
    color: #333;
    text-align: left;
    margin-right: 10px;
    display: inline-block;
}

input,
select {
    border-radius: 6px;
    height: 35px;
}

select:focus {
    outline: black;
}

input:focus {
    outline: none;
}

.button {
    border: 1px solid black;
    color: black;
    border-radius: 6px;
    background-color: rgb(156, 237, 156);
}